.contactContainer {
    width: 330px;
    margin-top: 200px;
    margin-right: 40px; 
    margin-left: auto; 
    color: #ffffff;
    font-family: JetBrains Mono NL;
    font-size: 11px;
    opacity: 0.1;
  }