.contactContainer {
    width: 130px;
    height: auto;
    margin-top: 20px;
    margin-right: 40px; 
    margin-left: auto; 
    color: #ffffff;
    font-family: JetBrains Mono NL;
    font-size: 13px;
    line-height: 1.6;
  }