.homeContainer {
  background-color: rgb(15, 15, 15); /* Đặt màu nền của Home thành đen */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profileContainer {
  width: 130px;
  height: auto;
  margin-right: 120px; 
  margin-left: auto; 
  color: #ffffff;
  font-family: JetBrains Mono NL;
  font-size: 13px;
  line-height: 1.6;
}

@media (max-width: 992px) {
  .profileContainer {
    width: 25%;
    margin-left: 45%; 
    margin-bottom: 10%;
  }
}

@media (max-width: 768px) {
  .profileContainer {
    width: 25%;
    margin-left: 45%; 
    margin-bottom: 10%;

  }
}

