.experienceContainer {
    /* width: 130px; */
    height: 100%;
    /* background-color: rgb(15, 15, 15); */
    margin-top: -100px;
    margin-left: 200px; 
    color: #ffffff;
    font-family: JetBrains Mono NL;
    font-size: 13px;
    position: relative;
  }