.projectsContainer {
  width: 80%;
  height: 400px;
  max-width: 1000px;
  margin-top: -200px;
  margin-left: auto;
  display: grid;
  /* background-color: rgb(15, 15, 15); */
}

.projectCard {
  height: 25%;
  /* background-color: rgb(166, 13, 13); */
  padding-left: 700px;
  display: grid;
}

.projectName {
  color: #ffffff;
  font-family: JetBrains Mono NL Thin;
  font-size: 35px;
  margin-left: -350px;
  height: auto;
  text-decoration: none;
  display: block;
  width: auto;
  font-style: italic;
}

.projectName:hover {
  opacity: 0.4; 
}

.projectDescription {
  color: #ffffff;
  font-family: 'JetBrains Mono NL';
  width: 500px;
  margin-left: -350px;
  font-size: 13px;
  line-height: 1.6;
  /* background-color: rgb(94, 173, 222); */
  opacity: 0.7;
}



@media (max-width: 480px) {
  .projectsContainer {
    display: block;
    padding: 10px;
    margin: 100px 10px 0 -320px; /* top right bottom left */
    width: auto;
    box-sizing: border-box; /* QUAN TRỌNG: đảm bảo padding không làm tràn width */
  }

  .projectName {
    font-size: 15px;
    font-style: italic;
  }

  .projectDescription {
    font-size: 8px;
    padding-bottom: 50px;
  }
}

@media (min-width: 481px) and (max-width: 820px) {
  .projectsContainer {
    display: block;
    padding: 10px;
    margin: 100px 10px 0 -320px;
    width: auto;
    box-sizing: border-box; 
  }

  .projectName {
    font-size: 22px;
    font-style: italic;
  }

  .projectDescription {
    font-size: 13px;
    padding-bottom: 50px;
  }
}


@media (min-width: 621px) and (max-width: 1000px) {
  .projectsContainer {
    display: block;
    padding: 10px;
    margin: 100px 10px 0 -320px;
    width: auto;
    box-sizing: border-box; 
  }

  .projectName {
    font-size: 25px;
    font-style: italic;
  }

  .projectDescription {
    font-size: 15px;
    padding-bottom: 50px;
  }
}