.dither-container {
  position: relative;
  display: inline-block;
  background-color: rgb(20, 20, 20);
  width: 500px;
  height: 500px;
  opacity: 0.3;
}

/* .dither-image {
  width: 100%;
  height: auto;
  filter: contrast(150%) brightness(90%) saturate(120%);
} */

/* Overlay noise effect */
.dither-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/noise.jpg");
  opacity: 0.35; 
  pointer-events: none;
  background-size: 100% 100%;
  background-repeat: no-repeat; /* Không lặp ảnh */
  background-position: center; /* Canh giữa */
}
